@charset "utf-8";
/* CSS Document */

html, body{
	height: 100%;
	background-color:ghostwhite;
	margin: 0;
}
/* style nav*/
.navbar {
	width: 100%;
	height: 68px;
	margin: 0px;
    background-color: #555;
    overflow: auto;
	display: block;

}

/* text nav*/
.navbar a {
  float: left;
  font-size: 25px;
	font-family: 'Audiowide';
  text-align: center;
  padding: 18px;
  color: white;
  text-decoration: none;
	text-shadow: 2.5px 2.5px rgba(255, 99, 71, 0.5);
}

/* hover nav*/
.navbar a:hover {
  background-color: tomato;
}

/*active nav*/
/*.active {
  background-color: tomato;
}*/
/*search nav*/
.navbar input[type=text]{
	text-decoration: none;
	float: right;
	margin-top: 20px;
	margin-right: 8px;
	height: 28px;
	
}
/*tonav style*/
.topnav{
	width: 100%;
	height: 43px;
	overflow: auto;
	background: tomato;
	display: block;
}
/*topnav text*/
.topnav a{
	margin-top: 0;
	text-decoration: none;
	float: right;
	padding: 4px;
	font-size: 24px;
	color: ghostwhite;
	font-family: 'Audiowide';
	text-shadow: 2px 2px rgba(0,0,0,0.30);
}
/* all page content*/
.page-wrapper{
	min-height: 100%
}
/*heading part*/
.heading{
	width: 100%;
	height: 133px;
	text-align: center;
}
/*heading text*/
.heading-text{
	font-size: 44px;
	font-family: 'Autour one';
	margin-top: 2%;
}
/* logo*/
.logo{
	width:300px;
	float: left;
}
h1{
	text-align: center;
	font-size: 40px;
	margin: 0;
}
table td{
	text-align: left;
			
}
.avatar{
	width: 40%;
}
/* form div*/
.login_form{
	width: 99.5%;
	background-image: url("blur.jpg");
	background-repeat: no-repeat;
	background-size: 100% 500px;
	height: 500px;
}
/*form style*/
.login{
	text-align: center;
	padding: 6px;
	margin-top: 10px;
	margin-left: 50%;
}
/*table style color*/
.alogin{
	text-align: center;
	background-color: tomato;
	color: ghostwhite;
	text-shadow: 2px 2px rgba(0,0,0,0.30);
	font-size: 35px;
	border:0.6px;
	border-style: groove;
	border-radius: 30px;
	padding: 6px;
	border-spacing: 4px;
}
/*input box style*/

::placeholder{
	color: #777777;
}
.textbox{
	background-color:ghostwhite;
	font-size: 18px;
	border-width:inherit;
	border-radius: 10px;
	text-align: center;
}/* login button*/
.bnt{
	border-radius: 8px;
	font-size: 16px;
	box-shadow: 5px 5px 1;
}
/* forgot password, sign up */
.forgot{
	font-size: 16px;
	color: ghostwhite;
	text-decoration: none;
}
/*sign up text*/

.forgot1{
	font-size: 18px;
	color: beige;
}


/*footer*/
.footer{
	background: #303036;
	color: #d3d3d3;
	height: 400px;
	position: relative;
	
}

.footer .footer-content{
	border: 1px solid tomato;
	height: 350px;
	display: flex;
}
.footer .footer-content .footer-section {
	flex: 1;
	padding: 25px;
}
.footer .footer-content, h1, .footer .footer-content, h2 {
	color: ghostwhite;
	
}
.footer .footer-contact .about, span, h1{
	color: tomato;
}
.footer .footer-contact .about .contact, span {
	display: block;
	font-size: 1.1em;
	margin-bootom: 8px;
}
.footer .footer-contact .links, h2{
	font-size: 33px;
	color:tomato;
	text-align: center;
}

.footer .footer-contact .links, ul a{
	text-align: center;
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	text-decoration: none;
	color: ghostwhite;
}
.footer .footer-contact .links, ul a:hover{
	color: gray;
}

.footer .footer-bottom{
	background: #343a40;
	color: #686868;
	height: 50px;
	width: 100%;
	text-align:center;
	bottom: 0%;
	left: 0px;
	padding-top: 20px;
	position: absolute;
}